!!!
%html
	%head
		%meta{name: "viewport",content: "width=device-width,	 initial-scale=1.0,	 maximum-scale=1.0, user-scalable=0" }/
		%meta{charset: "UTF-8"}/
		%meta{"http-equiv" => "Content-Type" }/
		%title 90s Studio
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		%link{:href => "https://fonts.googleapis.com/css?family=Gloria+Hallelujah", :rel => "stylesheet"}/
		= yield :head
	%body
		= yield

